{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
Compiler Site | 个人资料 - {{ user.username }}
{% endblock %}

{% block header %}
<div class="jumbotron">
    <h2>个人资料 - {{ user.username }}</h2>
</div>
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<div>
    <ul class="list-group">
        <li class="list-group-item">用户名：{{ user.username }}</li>
        <li class="list-group-item">姓：{{ user.last_name }}</li>
        <li class="list-group-item">名：{{ user.first_name }}</li>
        <li class="list-group-item">邮箱：{{ user.email }}</li>
    </ul>
    <a class="btn btn-primary btn-sm" href="{% url 'User:change_profile' %}" role="button">编辑</a>
</div>
{% endblock %}